<!-- css/styles.css of github 2026-02-feb.bauska.org making 2026-feb.bauska.org -->
<!-- was: font-family:'Bradley Hand', cursive, 'OCR A Std', monospace, Helvetica; -->
body {
  font-family:Helvetica, 'Bradley Hand'; cursive, 'OCR A Std', monospace;
}
table {
  table-layout:fixed;
  width:70%; 
}
.month-header {
  background-image:url("https://2026-feb.bauska.org/images/mcminneville-ufo-600x300.png");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  height:300px;
  text-align:right;
}

h1 {
  color:#fff;  /* white */
  font-size:200%;
  font-weight:700;
  letter-spacing:3px;
  padding-right:50px;
  padding-top:150px;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;
  vertical-align:top;
}
/* padding-bottom:150px; */
.copyright-notice {
  color:#fff;
  font-size:50%;
  padding-right:50px;
  text-align:right;
  text-decoration:none;
  vertical-align:bottom;
}

.weekday-header {
  background-color:#999;  /* dark gray */
  border-color:#ddd;  /* very light gray */
  border-style:solid;
  letter-spacing:1px;
  line-height:25px;
}
.week {
  background-color:#ffff00;  /* eaeaea = very light gray */
  height:75px;
  margin:0;
  text-align:left;
  vertical-align:top;
}
.off-day {
  background-color:#ddd;  /* very light gray */
}

ul {
    font-size:75%;
    list-style:none;
    padding-left:20px;
    padding-right:5px;
}

.event {
    border-radius:5px;
    color:#10171c;  /* very dark (mostly black) blue */
    padding:5px;
    margin:5px 0;
}
<!-- added 6-10-25 5:08pm -->
.container {
  background-color: #ffffff;  /* white */
  border: 2px solid #dcdcdc;  /* very light gray */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba
  (0, 0, 0, 0.1);
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: #4169e1;  /* royalblue */
  text-decoration: none;
  position: relative;
  padding-right:50px;  /* 6-23-2025 */
  font-family: Helvetica, Arial, sans-serif;
  transition: color 0.3s ease-in-out;
}
a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #990000;  /* crimson */
  transition: width 0.3s;
  position: absolute;
  bottom: -2px;
  left: 0;
}
a:hover {
  color: #990000;  /* crimson */
}
a:hover::after {
  width: 85%;
}

<!-- World, National & International Days -->
.ghog {
    background-color:#9aff9a;  /* pale lime green */
.groundhog {
    background-color:#9aff9a;  /* pale lime green */
}
.natl-women-physicians {
    background-color:#ff9999;  /* very light red */
}
.world-cancer {
    background-color:#c2e7e7;  /* light grayish cyan */
}
.natl-wear-red {
    background-color:#ff8080;  /* very light red */
}
.intl-day-zero-tolerance {
    background-color:#ffbf80;  /* very light orange */
}
.world-pulses {
  background-color:#ccaa44;
}
.intl-day-of-women {
  background-color:#aabbcc;
}
.darwin {
  background-color:#777777;
}
.lincolns-bd {
    background-color:#aa5bbd;  /* light red */
}
.galentines {
  background-color:#aaa999;  /* dark grayish yellow */
}
.intl-condom {
    background-color:#80bfff;  /* very light blue */
}
.natl-cheddar {
  background-color:#efefeb;  /* light grayish yellow */
}
.valentines {
    background-color:#e6cdff;  /* very pale violet */
}
.natl-pizza {
  background-color:#ff8080;  /* very light red */
}
.world-pulses {
  background-color:#e18787;  /* very soft red */
}
.superbowl {
  background-color:#c3c3cd;  /* grayish blue  */
}
.presidents {
    background-color:#ffccb4;  /* pale orange */
}
.mardis-gras {
  background-color:#dddbbb;  /* light grayish yellow */
}
.chinese-new-year {
  background-color:#aaa000;
}
.random-kindness {
    background-color:#ff55d5;  /* light magenta */
}
.ash-wednesday {
  background-color:#bbb99a;
}
.natl-drink-wine {
    background-color:#9ab3ff;  /*  */
}
.natl-love-your-pet {
    background-color:#89eaf4;  /* very soft cyan */
}
.world-day-social-justice {
  background-color:#43ddee;  /* bright cyan */
}
.intl-mother-lang {
    background-color:#80ff00;  /* pure (or mostly pure) green */
}
.washingtons-bd {
    background-color:#aa99ff;  /* very light blue */
}
.natl-margarita {
    background-color:#ff5eff;  /* light magenta */
}
.dominican-rep-indep {
    background-color:#c941f1;  /* bright magenta */
}
.natl-tooth-fairy {
    background-color:#00aabb;  /* strong cyan */
}

